/* fonts ------------------------------------- 
@font-face {
	font-family: "Irma Screen Regular 4";
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}
@font-face {
	font-family: "Irma Screen Bold 4";
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
}
body, p, h6 {
	font-family: "Irma Screen Regular 4";
}
h1, h2, h3, h4, h5, strong {
	font-family: "Irma Screen Bold 4";
}

h6 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 80%;
}
*/

#eat {
	background-color: #F2F2F2;
}
#stay {
	background-color: #E6E6E6;
}
#transport {
	background-color: #CCCCCC;
}
#drink {
	background-color: #B3B3B3;
}